<li class=""><strong>Title:</strong><%= article.title %></li>
<li class=""><strong>Url:</strong><%= article.url %></li>
<li class=""><strong>Description:</strong><%= article.description %></li>
<li class=""><strong>Summary:</strong><%= article.summary %></li>
<li class=""><strong>Published:</strong><%= article.published %></li>
<li class=""><strong>Summarized:</strong><%= article.summarized %></li>

